@media only screen and (max-width: 1200px) {
.carousel-caption {
	width: auto;
}
}
@media only screen and (max-width: 950px) {

.carousel-inner img {
	transform: scale(0.4);
}

.testCreateSettings {
	width: 100%;
	float: none;

}
.testCreateMainContent {
	width: 100%;
	float: none;
	margin: 10px 0 10px 0;
}


}
@media only screen and (max-width: 820px) {

.testAllContent {
	margin: 0 2% 0 2%;
}
.hRCNRTInTest {
	margin-top: -15px;
}
#logo {
	font-size: 30px;
	top: 22%;
}
#loginDialog {
	left: 2%;
	width: 80%;

}
.contentHeaderContainer {
	margin: 0 1%;
}
.courseOnPageNavigation {
	left: inherit;
	right: 196px;
}
.courseListItemTitle {
	display: none;
}

.testsNavigation {
	width: 20%;
	margin-left: 1%;
}
.testsTrueContent {
	width: 77%;
}
.content {
	margin: 0;
}

.tTCFixed {
	left: 22%;
	top: 130px;
}
.tNFixed {
	top: 130px;
}
.cHFixed {
	position: absolute;
}


}
@media only screen and (max-width: 768px) {

.carousel-caption {
	display: block!important;
	font-size: 12px;
	width: auto;
}
.carousel-inner img {
	transform: scale(0.37);
}


}
@media only screen and (max-width: 700px) {

.carousel-inner img {
	transform: scale(0.3);
}


}
@media only screen and (max-width: 576px) {
#logo  {
	margin: 0 5%;
	
}
.mainNewestCoursePosts {
	display: grid;
}

.testHeader {
	padding: 30px 30px 110px 30px;
}
.testInfo {
	top: 100px;
	right: 37px;
}
.testInfo:hover {
	top: 100px;
}
.regpage {
	width: auto;
	height: 90%;
	overflow: scroll;
	overflow-x: auto;
	top: 55%;
}
.carousel-inner img {
	transform: scale(0.2);
}
#headerRightContainer {
	margin: 0 2%;
}
.currentProfileContextMenu {
	width: fit-content;
	right: 2%;
}
#headerRightContainerNRThemeToggle {
	margin-right: 2%;
}
#HRCNLButt {
	margin-left: 30%;
	width: fit-content;
	display: flex;
}

.mainButtons {
	padding: calc(var(--header-height) / 4) 20px calc(var(--header-height) / 4) 20px;
}
#HRCLogin, #HRCRegister {
	display: none;
}
.testsNavigation, .testsTrueContent {
	display: contents;
}

.tNFixed #testsNavigationList {
	margin-top: 120px;
}

.content {
	margin: 10px 6% 0 6%;
}
.contentHeader {
	width: auto;
}


}
@media only screen and (max-width: 547px) {

.courseContainer {
	float: none;
	margin: 20px 0;
	width: 100%;
}
.courseContextMenu {
	left: inherit;
	right: -5%;
}
.createCourseFormDialog, .joinCourseFormDialog {
	width: 96%;
	margin: auto 2%;
}
#createCourseClose, #joinCourseClose {
	bottom: inherit;
	margin: 0;
}
.createCourseFormHeader h3, .joinCourseFormHeader h3  {
	width: 75%;
}
#courseList {
	bottom: 0;
	margin: 0;
}
#courseSettings {
	right: 15px;
	bottom: 20px;
}
.courseOnPageHeader h3 {
	margin: 0 0 25px 15px;
}
.courseOnPageHeader {
	height: 85px;
}
#courseInviteCode {
	position: absolute;
	left: 15px;
	bottom: 20px;
}
.courseOnPageNavigation {
	height: auto;
	bottom: 0;
}
.currentProfileLastName {
	display: none;
}

}